:host {
  display: block;
  padding: 20px;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}

.mentions-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 2rem;
}

.mentions-container h1 {
  margin: 0.5rem;
}

.mentions-container p {
  margin: 1rem;
}

.mentions-buttons-container {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.divider {
  border: none;
  height: 1px;
  background: rgba(0, 0, 0, 0.12);
  margin: 16px 0;
}

.tags-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.tags-section h1 {
  margin: 0.5rem;
}

.tags-section p {
  margin: 0.5rem;
}

.tags-section-title {
}

.tags-area {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}

mat-chip-set mat-chip {
  background: #eee;
  color: #999;
  height: 1.5rem;
}

mat-chip-set mat-chip:hover {
  background:  #fadbd8 ;
  color: white;
}

mat-form-field {
  margin: 1rem;
}
