<h1 mat-dialog-title>Edit skill: {{ data.skill.name }}</h1>
<div mat-dialog-content>
  <div class="mentions-container">
    <h1>Mentions</h1>
    <p>Number of mentions: {{ data.skill.votes }}</p>
    <div class="mentions-buttons-container">
      <button
        class="mentions-button"
        mat-icon-button
        color="primary"
        (click)="increaseSkillVotes()"
      >
        <mat-icon>add</mat-icon>
      </button>

      <button
        class="mentions-button"
        mat-icon-button
        color="warn"
        (click)="decreaseSkillVotes()"
      >
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </div>

  <hr class="divider">

  <section class="tags-section">
    <h1>Tags</h1>

    <div class="tags-area">
      <mat-chip-set *ngIf="data.skill.tags.length > 0">
        <mat-chip *ngFor="let tag of data.skill.tags" (click)="deleteTag(tag)">{{
            tag
          }}
        </mat-chip>
      </mat-chip-set>
      <p *ngIf="data.skill.tags.length === 0">No tags to show :(</p>
    </div>

    <p>(click on a tag to delete it)</p>

    <form [formGroup]="tagForm" (ngSubmit)="addNewTag()">
      <mat-form-field>
        <input matInput formControlName="newTag" placeholder="Type to add a new tag..."/>
      </mat-form-field>
    </form>

    <p>or pick one from the tags you already used:</p>

    <mat-chip-set *ngIf="allTags.length > 0">
      <mat-chip *ngFor="let tag of allTags" (click)="pickTag(tag)">{{
          tag
        }}
      </mat-chip>
    </mat-chip-set>

  </section>

</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Close</button>
  <button mat-button (click)="deleteSkill()">Delete skill</button>
</div>
