h2.mat-dialog-title {
  text-align: center;
}

.full-width {
  width: 100%;
}

mat-dialog-content {
  padding: 24px;
}

mat-dialog-actions {
  justify-content: space-between;
}

mat-dialog-actions button {
  margin-right: 8px;
}
