<div class="add-new-skill-container">
  <h2 mat-dialog-title>Add New Skill</h2>
  <mat-dialog-content>
    <form (ngSubmit)="addSkill(skillForm)" #skillForm="ngForm">
      <mat-form-field class="full-width">
        <input matInput placeholder="Type to add a new skill..." name="name" ngModel required/>
        <mat-error
          *ngIf="
            skillForm.controls['name']?.invalid &&
            skillForm.controls['name']?.touched
          "
        >
          Name is required.
        </mat-error>
      </mat-form-field>

      <p>or pick one from the skills you already used:</p>

      <mat-chip-set>
        <mat-chip *ngFor="let skill of allSkills" (click)="pickSkill(skill)">{{
            skill
          }}
        </mat-chip>
      </mat-chip-set>

      <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button
          mat-button
          color="primary"
          type="submit"
          [disabled]="!skillForm.valid"
        >
          Add
        </button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>
