<div class="container mt-5">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content class="add-space-top">
      <form (ngSubmit)="register()">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="newUsername"
            name="newUsername"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="newEmail"
            name="newEmail"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            [(ngModel)]="newPassword"
            name="newPassword"
            required
          />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">
          Register
        </button>
        <div *ngIf="registrationError" class="alert alert-danger mt-3">
          {{ registrationError }}
        </div>
      </form>
      <div class="text-center add-space-top mt-3">
        <a routerLink="/login">Already have an account? Login</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
